<h1>Products#index</h1> 

<%= link_to "New Product", "/products/new" %>

<ul>
<% @products.each do |product| %>
  <li> <p> <%= product[:name] %> </p> <p><%= product[:description] %></p> <p><%= product[:price_in_cents] %></p> 
  	<p>Price in Dollars: <%= product.formatted_price %></p>
  </li>

<% end %>
</ul>